
    <form id="myform" name="myform" method="post" action="/codesire/compilecode">
      <h2>Code</h2>
      <textarea id="code" rows="13" cols="100" name="code"></textarea><br/>
      <h2>Input</h2>
      <textarea id="input" rows="10" cols="100" name="input" style="display: none"></textarea><br/>
      Language :
      <select id="lang" name="lang">
        <option value="C">C</option>
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="Python">Python</option>
        <option value="CS">C#</option>
        <option value="VB">VB</option>
        <option value="Nodejs">Node.js</option>
      </select>
      </br>
      Compile With Input :
      <input id="hasInput" type="radio" name="inputRadio" value="true"/>yes
      <input id="noInput" type="radio" name="inputRadio" value="false" checked="true"/>No<br/>
      <input type="submit" value="run!" name="submit"/>
    </form>
    <h2>Output</h2>
      <textarea id="output" rows="10" cols="100" name="input"></textarea><br/>


    
    <script type="text/javascript" src="https://cdn.rawgit.com/codemirror/CodeMirror/master/lib/codemirror.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/codemirror/CodeMirror/master/addon/edit/closebrackets.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/codemirror/CodeMirror/master/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/codemirror/CodeMirror/master/addon/selection/active-line.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/codemirror/CodeMirror/master/mode/clike/clike.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/codemirror/CodeMirror/master/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/codemirror/CodeMirror/master/mode/python/python.js"></script>
    <script type="text/javascript" src="/javascripts/postCode.js"></script>
    <script type="text/javascript" src="/javascripts/editor.js"></script>
    <script type="text/javascript">
        //window.onload加载多个函数：http://www.webreference.com/programming/javascript/onloads/index.html
        function addLoadEvent(func) {
            var oldonload = window.onload;
            if (typeof window.onload != 'function') {
                window.onload = func;
            } 
            else {
                window.onload = function() {
                  if (oldonload) {
                      oldonload();
                  }
                  func();
                }
            }
        }
        addLoadEvent(editor);
        addLoadEvent(postCode);
    </script>
   
    


<!--div class="header">
    <span class="about">About</span>
</div>
<div class="content">
    <select class="examples">
        <option value="C" selected="selected">C</option>
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="Python">Python</option>
        <option value="CS">C#</option>
        <option value="VB">VB</option>
    </select>Compile With Input :
    <div class="fiddle-wrapper">
        <div class="fiddle-header">
            <span>Code</span>
             <div class="share">
                <div class="share-drop">
                    <label for="share-link">Link</label>
                    <input value="" id="share-link">
                    <label for="shared-embed">Embed</label>
                    <input value="" id="share-embed">
                    <a class="tweet" href="#" target="_blank">Tweet</a>
                </div>
            </div>
            <div title="save" class="save"></div>
            <div title="lint" class="lint"></div>
            <div title="run" class="run"></div>
        </div>
        <div class="fiddle"></div>
    </div>
    <div class="result-wrapper">
        <div class="result-header"><span>Console</span></div>
        <iframe class="result"></iframe>
    </div>
</div-->
