<main class="content-wrapper">
    <div id="display">
        <div id="editor">
            <textarea></textarea>
        </div>
        <div id="dictionary">
            <p></p>
        </div>
    </div>

    <div class="keyboard">
        <div class="topcurve"></div>
        <div class="keywrapper">
            <ul class="cf">
                <li><a href="javascript:void(0)" class="key c27 fn"><span id="esc">esc</span></a></li>
                <li><a href="javascript:void(0)" class="key c112 fn"><span>F1</span></a></li>
                <li><a href="javascript:void(0)" class="key c113 fn"><span>F2</span></a></li>
                <li><a href="javascript:void(0)" class="key c114 fn"><span>F3</span></a></li>
                <li><a href="javascript:void(0)" class="key c115 fn"><span>F4</span></a></li>
                <li><a href="javascript:void(0)" class="key c116 fn"><span>F5</span></a></li>
                <li><a href="javascript:void(0)" class="key c117 fn"><span>F6</span></a></li>
                <li><a href="javascript:void(0)" class="key c118 fn"><span>F7</span></a></li>
                <li><a href="javascript:void(0)" class="key c119 fn"><span>F8</span></a></li>
                <li><a href="javascript:void(0)" class="key c120 fn"><span>F9</span></a></li>
                <li><a href="javascript:void(0)" class="key c121 fn"><span>F10</span></a></li>
                <li><a href="javascript:void(0)" class="key c122 fn"><span>F11</span></a></li>
                <li><a href="javascript:void(0)" class="key c123 fn"><span>F12</span></a></li>
                <li><a href="javascript:void(0)" class="key fn"><span>Eject</span></a></li>
            </ul>
            <ul class="cf" id="numbers">
                <li><a href="javascript:void(0)" class="key c192"><b>~</b><span>`</span></a></li>
                <li><a href="javascript:void(0)" class="key c49"><b>!</b><span>1</span></a></li>
                <li><a href="javascript:void(0)" class="key c50"><b>@</b><span>2</span></a></li>
                <li><a href="javascript:void(0)" class="key c51"><b>#</b><span>3</span></a></li>
                <li><a href="javascript:void(0)" class="key c52"><b>$</b><span>4</span></a></li>
                <li><a href="javascript:void(0)" class="key c53"><b>%</b><span>5</span></a></li>
                <li><a href="javascript:void(0)" class="key c54"><b>^</b><span>6</span></a></li>
                <li><a href="javascript:void(0)" class="key c55"><b>&amp;</b><span>7</span></a></li>
                <li><a href="javascript:void(0)" class="key c56"><b>*</b><span>8</span></a></li>
                <li><a href="javascript:void(0)" class="key c57"><b>(</b><span>9</span></a></li>
                <li><a href="javascript:void(0)" class="key c48"><b>)</b><span>0</span></a></li>
                <li><a href="javascript:void(0)" class="key c189 alt"><b>_</b><span>-</span></a></li>
                <li><a href="javascript:void(0)" class="key c187"><b>+</b><span>=</span></a></li>
                <li><a href="javascript:void(0)" class="key c46" id="delete"><span>Delete</span></a></li>
            </ul>
            <ul class="cf" id="qwerty">
                <li><a href="javascript:void(0)" class="key c9" id="tab"><span>tab</span></a></li>
                <li><a href="javascript:void(0)" class="key c81"><b>&#12610;</b><span>q</span></a></li>
                <li><a href="javascript:void(0)" class="key c87"><b>&#12616;</b><span>w</span></a></li>
                <li><a href="javascript:void(0)" class="key c69"><b>&#12599;</b><span>e</span></a></li>
                <li><a href="javascript:void(0)" class="key c82"><b>&#12593;</b><span>r</span></a></li>
                <li><a href="javascript:void(0)" class="key c84"><b>&#12613;</b><span>t</span></a></li>
                <li><a href="javascript:void(0)" class="key c89"><b>&#12635;</b><span>y</span></a></li>
                <li><a href="javascript:void(0)" class="key c85"><b>&#12629;</b><span>u</span></a></li>
                <li><a href="javascript:void(0)" class="key c73"><b>&#12625;</b><span>i</span></a></li>
                <li><a href="javascript:void(0)" class="key c79"><b>&#12624;</b><span>o</span></a></li>
                <li><a href="javascript:void(0)" class="key c80"><b>&#12628;</b><span>p</span></a></li>
                <li><a href="javascript:void(0)" class="key c219 alt"><b>{</b><span>[</span></a></li>
                <li><a href="javascript:void(0)" class="key c221 alt"><b>}</b><span>]</span></a></li>
                <li><a href="javascript:void(0)" class="key c220 alt"><b>|</b><span>\</span></a></li>
            </ul>
            <ul class="cf" id="asdfg">
                <li><a href="javascript:void(0)" class="key c20 alt" id="caps"><b></b><span>caps lock</span></a></li>
                <li><a href="javascript:void(0)" class="key c65"><b>&#12609;</b><span>a</span></a></li>
                <li><a href="javascript:void(0)" class="key c83"><b>&#12596;</b><span>s</span></a></li>
                <li><a href="javascript:void(0)" class="key c68"><b>&#12615;</b><span>d</span></a></li>
                <li><a href="javascript:void(0)" class="key c70"><b>&#12601;</b><span>f</span></a></li>
                <li><a href="javascript:void(0)" class="key c71"><b>&#12622;</b><span>g</span></a></li>
                <li><a href="javascript:void(0)" class="key c72"><b>&#12631;</b><span>h</span></a></li>
                <li><a href="javascript:void(0)" class="key c74"><b>&#12627;</b><span>j</span></a></li>
                <li><a href="javascript:void(0)" class="key c75"><b>&#12623;</b><span>k</span></a></li>
                <li><a href="javascript:void(0)" class="key c76"><b>&#12643;</b><span>l</span></a></li>
                <li><a href="javascript:void(0)" class="key c186 alt"><b>:</b><span>;</span></a></li>
                <li><a href="javascript:void(0)" class="key c222 alt"><b>"</b><span>'</span></a></li>
                <li><a href="javascript:void(0)" class="key c13 alt" id="enter"><span>return</span></a></li>
            </ul>
            <ul class="cf" id="zxcvb">
                <li><a href="javascript:void(0)" class="key c16 shiftleft"><span>Shift</span></a></li>
                <li><a href="javascript:void(0)" class="key c90"><b>&#12619;</b><span>z</span></a></li>
                <li><a href="javascript:void(0)" class="key c88"><b>&#12620;</b><span>x</span></a></li>
                <li><a href="javascript:void(0)" class="key c67"><b>&#12618;</b><span>c</span></a></li>
                <li><a href="javascript:void(0)" class="key c86"><b>&#12621;</b><span>v</span></a></li>
                <li><a href="javascript:void(0)" class="key c66"><b>&#12640;</b><span>b</span></a></li>
                <li><a href="javascript:void(0)" class="key c78"><b>&#12636;</b><span>n</span></a></li>
                <li><a href="javascript:void(0)" class="key c77"><b>&#12641;</b><span>m</span></a></li>
                <li><a href="javascript:void(0)" class="key c188 alt"><b>&lt;</b><span>,</span></a></li>
                <li><a href="javascript:void(0)" class="key c190 alt"><b>&gt;</b><span>.</span></a></li>
                <li><a href="javascript:void(0)" class="key c191 alt"><b>?</b><span>/</span></a></li>
                <li><a href="javascript:void(0)" class="key c16 shiftright"><span>Shift</span></a></li>
            </ul>
            <ul class="cf" id="bottomrow">
                <li><a href="javascript:void(0)" class="key" id="fn"><span>fn</span></a></li>
                <li><a href="javascript:void(0)" class="key c17" id="control"><span>control</span></a></li>
                <li><a href="javascript:void(0)" class="key option" id="optionleft"><span>option</span></a></li>
                <li><a href="javascript:void(0)" class="key command" id="commandleft"><span>command</span></a></li>
                <li>
                    <a href="javascript:void(0)" class="key c32" id="spacebar"></a>
                </li>
                <li><a href="javascript:void(0)" class="key command" id="commandright"><span>command</span></a></li>
                <li><a href="javascript:void(0)" class="key option" id="optionright"><span>option</span></a></li>
                <ol class="cf">
                    <li><a href="javascript:void(0)" class="key c37" id="left"><span></span></a></li>
                    <li>
                        <a href="javascript:void(0)" class="key c38" id="up"><span></span></a>
                        <a href="javascript:void(0)" class="key c40" id="down"><span> </span></a>
                    </li>
                    <li><a href="javascript:void(0)" class="key c39" id="right"><span></span></a></li>
                </ol>
            </ul>
        </div>
    </div>
</main>

<div class="notebook">
    <!--http://codepen.io/yy/pen/cpudf-->
    <div class="left">
        <div class="page-inner" contenteditable>

            &nbsp; &nbsp;If You Ever Come to Western Nebraska<div><br></div><div>&nbsp; &nbsp;Come in late summer, early fall. Come when the cornfields stand up straight and tall — holding ears full of two seasons of hard farm work. Find someone who can get you a dozen of the sweet kind. You’ll be hard-pressed to find better.</div><div><br></div><div>&nbsp; &nbsp;Seek out a good place to watch the sky. Sit with a cold glass of whatever you choose as the thunderheads roll east from the mountains. In the afternoon, they might sweep overhead, spitting a little&nbsp;</div>

        </div>
    </div>
    <div class="right">
        <div class="page-inner" contenteditable>
            朝鲜语（조선말／朝鮮말 chosŏnmal ?或조선어／朝鮮語 chosŏnŏ ?），韩国称韩国语（한국어／韓國語 hangugeo ?或한국말／韓國말 hangungmal ?），是通行于韩国、朝鲜及中国东北、俄罗斯远东地区、日本等朝鲜族聚居地区的语言。 朝鲜语被全球约7560万人使用，是世界第十三大语言。随着大韩民国在国际社会政治、经济地位的不断提高，学习朝鲜语的人数也不断增长，目前许多国家的高中和大学都教授朝鲜语。在美国、日本、澳大利亚等地，大学入学考试的外语科目中可以选择朝鲜语应考。</div>

        </div>
    </div>
</div>



<script type="text/javascript" src="/javascripts/DS.js"></script>
<script type="text/javascript" src="/javascripts/jquery-3.1.1.slim.min.js"></script>
<script type="text/javascript" src="/javascripts/keyboard.js"></script>
