
<div id="editor">
    <textarea></textarea>
    <div id="dictionary"></div>
</div>

<div id="keyboard">
    <div class="topcurve"></div>
    <div class="keywrapper">
        <ul class="cf">
            <li><a href="#" class="key c27 fn"><span id="esc">esc</span></a></li>
            <li><a href="#" class="key c112 fn"><span>F1</span></a></li>
            <li><a href="#" class="key c113 fn"><span>F2</span></a></li>
            <li><a href="#" class="key c114 fn"><span>F3</span></a></li>
            <li><a href="#" class="key c115 fn"><span>F4</span></a></li>
            <li><a href="#" class="key c116 fn"><span>F5</span></a></li>
            <li><a href="#" class="key c117 fn"><span>F6</span></a></li>
            <li><a href="#" class="key c118 fn"><span>F7</span></a></li>
            <li><a href="#" class="key c119 fn"><span>F8</span></a></li>
            <li><a href="#" class="key c120 fn"><span>F9</span></a></li>
            <li><a href="#" class="key c121 fn"><span>F10</span></a></li>
            <li><a href="#" class="key c122 fn"><span>F11</span></a></li>
            <li><a href="#" class="key c123 fn"><span>F12</span></a></li>
            <li><a href="#" class="key fn"><span>Eject</span></a></li>
        </ul>
        <ul class="cf" id="numbers">
            <li><a href="#" class="key c192"><b>~</b><span>`</span></a></li>
            <li><a href="#" class="key c49"><b>!</b><span>1</span></a></li>
            <li><a href="#" class="key c50"><b>@</b><span>2</span></a></li>
            <li><a href="#" class="key c51"><b>#</b><span>3</span></a></li>
            <li><a href="#" class="key c52"><b>$</b><span>4</span></a></li>
            <li><a href="#" class="key c53"><b>%</b><span>5</span></a></li>
            <li><a href="#" class="key c54"><b>^</b><span>6</span></a></li>
            <li><a href="#" class="key c55"><b>&amp;</b><span>7</span></a></li>
            <li><a href="#" class="key c56"><b>*</b><span>8</span></a></li>
            <li><a href="#" class="key c57"><b>(</b><span>9</span></a></li>
            <li><a href="#" class="key c48"><b>)</b><span>0</span></a></li>
            <li><a href="#" class="key c189 alt"><b>_</b><span>-</span></a></li>
            <li><a href="#" class="key c187"><b>+</b><span>=</span></a></li>
            <li><a href="#" class="key c46" id="delete"><span>Delete</span></a></li>
        </ul>
        <ul class="cf" id="qwerty">
            <li><a href="#" class="key c9" id="tab"><span>tab</span></a></li>
            <li><a href="#" class="key c81"><span>q</span></a></li>
            <li><a href="#" class="key c87"><span>w</span></a></li>
            <li><a href="#" class="key c69"><span>e</span></a></li>
            <li><a href="#" class="key c82"><span>r</span></a></li>
            <li><a href="#" class="key c84"><span>t</span></a></li>
            <li><a href="#" class="key c89"><span>y</span></a></li>
            <li><a href="#" class="key c85"><span>u</span></a></li>
            <li><a href="#" class="key c73"><span>i</span></a></li>
            <li><a href="#" class="key c79"><span>o</span></a></li>
            <li><a href="#" class="key c80"><span>p</span></a></li>
            <li><a href="#" class="key c219 alt"><b>{</b><span>[</span></a></li>
            <li><a href="#" class="key c221 alt"><b>}</b><span>]</span></a></li>
            <li><a href="#" class="key c220 alt"><b>|</b><span>\</span></a></li>
        </ul>
        <ul class="cf" id="asdfg">
            <li><a href="#" class="key c20 alt" id="caps"><b></b><span>caps lock</span></a></li>
            <li><a href="#" class="key c65"><span>a</span></a></li>
            <li><a href="#" class="key c83"><span>s</span></a></li>
            <li><a href="#" class="key c68"><span>d</span></a></li>
            <li><a href="#" class="key c70"><span>f</span></a></li>
            <li><a href="#" class="key c71"><span>g</span></a></li>
            <li><a href="#" class="key c72"><span>h</span></a></li>
            <li><a href="#" class="key c74"><span>j</span></a></li>
            <li><a href="#" class="key c75"><span>k</span></a></li>
            <li><a href="#" class="key c76"><span>l</span></a></li>
            <li><a href="#" class="key c186 alt"><b>:</b><span>;</span></a></li>
            <li><a href="#" class="key c222 alt"><b>"</b><span>'</span></a></li>
            <li><a href="#" class="key c13 alt" id="enter"><span>return</span></a></li>
        </ul>
        <ul class="cf" id="zxcvb">
            <li><a href="#" class="key c16 shiftleft"><span>Shift</span></a></li>
            <li><a href="#" class="key c90"><span>z</span></a></li>
            <li><a href="#" class="key c88"><span>x</span></a></li>
            <li><a href="#" class="key c67"><span>c</span></a></li>
            <li><a href="#" class="key c86"><span>v</span></a></li>
            <li><a href="#" class="key c66"><span>b</span></a></li>
            <li><a href="#" class="key c78"><span>n</span></a></li>
            <li><a href="#" class="key c77"><span>m</span></a></li>
            <li><a href="#" class="key c188 alt"><b>&lt;</b><span>,</span></a></li>
            <li><a href="#" class="key c190 alt"><b>&gt;</b><span>.</span></a></li>
            <li><a href="#" class="key c191 alt"><b>?</b><span>/</span></a></li>
            <li><a href="#" class="key c16 shiftright"><span>Shift</span></a></li>
        </ul>
        <ul class="cf" id="bottomrow">
            <li><a href="#" class="key" id="fn"><span>fn</span></a></li>
            <li><a href="#" class="key c17" id="control"><span>control</span></a></li>
            <li><a href="#" class="key option" id="optionleft"><span>option</span></a></li>
            <li><a href="#" class="key command" id="commandleft"><span>command</span></a></li>
            <li>
                <a href="#" class="key c32" id="spacebar"></a>
            </li>
            <li><a href="#" class="key command" id="commandright"><span>command</span></a></li>
            <li><a href="#" class="key option" id="optionright"><span>option</span></a></li>
            <ol class="cf">
                <li><a href="#" class="key c37" id="left"><span>&#9664;</span></a></li>
                <li>
                    <a href="#" class="key c38" id="up"><span>&#9650;</span></a>
                    <a href="#" class="key c40" id="down"><span> &#9660;</span></a>
                </li>
                <li><a href="#" class="key c39" id="right"><span>&#9654;</span></a></li>
            </ol>
        </ul>
    </div>

</div>

{{!--<div id="main" role="main">--}}
{{!--  <ol id="keyboard" class="macbook-pro">--}}
{{!--    <li><span>~</span>`</li>--}}
{{!--    <li><span>!</span>1</li>--}}
{{!--    <li><span>@</span>2</li>--}}
{{!--    <li><span>#</span>3</li>--}}
{{!--    <li><span>$</span>4</li>--}}
{{!--    <li><span>%</span>5</li>--}}
{{!--    <li><span>^</span>6</li>--}}
{{!--    <li><span>&amp;</span>7</li>--}}
{{!--    <li><span>*</span>8</li>--}}
{{!--    <li><span>(</span>9</li>--}}
{{!--    <li><span>)</span>0</li>--}}
{{!--    <li><span>_</span>-</li>--}}
{{!--    <li><span>+</span>=</li>--}}
{{!--    <li class="special r" id="delete">delete</li>--}}
{{!--    <li class="special l" id="tab">tab</li>--}}
{{!--    <li><span>ㅂ</span>Q</li>--}}
{{!--    <li><span>ㅈ</span>W</li>--}}
{{!--    <li><span>ㄷ</span>E</li>--}}
{{!--    <li><span>ㄱ</span>R</li>--}}
{{!--    <li><span>ㅅ</span>T</li>--}}
{{!--    <li><span>ㅛ</span>Y</li>--}}
{{!--    <li><span>ㅕ</span>U</li>--}}
{{!--    <li><span>ㅑ</span>I</li>--}}
{{!--    <li><span>ㅐ</span>O</li>--}}
{{!--    <li><span>ㅔ</span>P</li>--}}
{{!--    <li><span>{</span>[</li>--}}
{{!--    <li><span>}</span>]</li>--}}
{{!--    <li><span>|</span>\</li>--}}
{{!--    <li class="special l" id="caps-lock">caps lock</li>--}}
{{!--    <li><span>ㅁ</span>A</li>--}}
{{!--    <li><span>ㄴ</span>S</li>--}}
{{!--    <li><span>ㅇ</span>D</li>--}}
{{!--    <li><span>ㄹ</span>F</li>--}}
{{!--    <li><span>ㅎ</span>G</li>--}}
{{!--    <li><span>ㅗ</span>H</li>--}}
{{!--    <li><span>ㅓ</span>J</li>--}}
{{!--    <li><span>ㅏ</span>K</li>--}}
{{!--    <li><span>ㅣ</span>L</li>--}}
{{!--    <li><span>:</span>;</li>--}}
{{!--    <li><span>"</span>'</li>--}}
{{!--    <li class="special r" id="enter"><span>enter</span>return</li>--}}
{{!--    <li class="special shift l">shift</li>--}}
{{!--    <li><span>ㅋ</span>Z</li>--}}
{{!--    <li><span>ㅌ</span>X</li>--}}
{{!--    <li><span>ㅊ</span>C</li>--}}
{{!--    <li><span>ㅍ</span>V</li>--}}
{{!--    <li><span>ㅠ</span>B</li>--}}
{{!--    <li><span>ㅜ</span>N</li>--}}
{{!--    <li><span>ㅡ</span>M</li>--}}
{{!--    <li><span>&lt;</span>,</li>--}}
{{!--    <li><span>&gt;</span>.</li>--}}
{{!--    <li><span>?</span>/</li>--}}
{{!--    <li class="special shift r">shift</li>--}}
{{!--    <li class="special tall l">fn</li>--}}
{{!--    <li class="special tall less-padding l">control</li>--}}
{{!--    <li class="special tall less-padding l"><span>alt</span>option</li>--}}
{{!--    <li class="special tall command r"><span>&#8984;</span>command</li>--}}
{{!--    <li class="special tall" id="space"> </li>--}}
{{!--    <li class="special tall command l"><span>&#8984;</span>command</li>--}}
{{!--    <li class="special tall less-padding r"><span>alt</span>option</li>--}}
{{!--    <li class="arrow up">&#8593;</li>--}}
{{!--    <li class="arrow">&#8592;</li>--}}
{{!--    <li class="arrow down">&#8595;</li>--}}
{{!--    <li class="arrow">&#8594;</li>--}}
{{!--  </ol>--}}
{{!--</div>--}}

<script type="text/javascript" src="/javascripts/DS.js"></script>
<script type="text/javascript" src="/javascripts/keyboard.js"></script>
