<html>
<head>
    <title>{{title}}</title>
    <link href="/stylesheets/hangul.css" rel="stylesheet">
    <link href="/stylesheets/stijl.css" rel="stylesheet">
</head>

<body>
    {{{body}}}
    <span class="love">
	    Made with love by 
	    <a href="http://wesbos.com">Lzfcc</a> — fork or suggest edits on <a href="http://github.com/lzfcc/hangul">GitHub</a>
    </span>

  </span>
</body>
</html>