<html>
<head>
    <title>{{title}}</title>
    <link href="/stylesheets/hangul.css" rel="stylesheet">
    <link href="/stylesheets/keyboard.css" rel="stylesheet">
    {{!--<link href="/stylesheets/stijl.css" rel="stylesheet">--}}
</head>

<body>
    <div id="octo-peek">
      <a href="http://github.com/lzfcc/hangul"><span>Fork me on Github!</span></a>
    </div>
    {{{body}}}
  </span>
</body>
</html>
