<html>
<head>
    <title>{{title}}</title>
    <link href="/stylesheets/hangul.css" rel="stylesheet">
    <link href="/stylesheets/stijl.css" rel="stylesheet">
</head>

<body>
    {{{body}}}
</body>
</html>