<html>
<head>
    <title>Realtime Markdown Viewer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/markdown.css" rel="stylesheet">
</head>

<body class="container-fluid">
    {{{body}}}
</body>
</html>