* {
	margin: 0;
	color: inherit;
	font: inherit;
	text-shadow: inherit;
}

@font-face {
  font-family: 'UnGungseo';
  src: url('../fonts/UnGungseo.eot');
  src: url('../fonts/UnGungseo.woff') format('woff'),
       url('../fonts/UnGungseo.ttf') format('truetype'),
       /*('UnGungseo.svg#UnGungseo') format('svg'),*/
       url('../fonts/UnGungseo.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family: 'TypoDodamM';
	src: url('../fonts/TypoDodamM.woff'),
	url('../fonts/TypoDodamM.ttf');
}


body{
	background: #eee;
	color: white;
	-webkit-font-smoothing: antialiased; /* fix for WebKit inconsistency */
	height: 800px;
}

#display{
    text-align: center;
    overflow: hidden;
    margin: 30px;
}

#editor{
	background-color: #98cf26;
	border-radius: 10px;
	box-shadow: 0px 0px 2px 3px grey inset;
	float: left;
	width: 60%;
}

textarea{
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    background-color: transparent;
    font-family: "UnGungseo", "Monaco", courier, monospace;
    font-size: 50px;
    padding: 20px;
    color: #240719;
    text-shadow: 1px 0 rgba(255, 0, 0, 0.5), -1px 0 rgba(0, 0, 255, 0.5);
        background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 33.33333%, rgba(255, 255, 255, 0.4) 33.33333%, rgba(255, 255, 255, 0.4) 66.66666%, rgba(255, 255, 255, 0.6) 66.66666%), -webkit-linear-gradient(left, rgba(255, 0, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 66.66666%, rgba(0, 0, 255, 0.7) 66.66666%);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 33.33333%, rgba(255, 255, 255, 0.4) 33.33333%, rgba(255, 255, 255, 0.4) 66.66666%, rgba(255, 255, 255, 0.6) 66.66666%), linear-gradient(to right, rgba(255, 0, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 66.66666%, rgba(0, 0, 255, 0.7) 66.66666%);
    background-size: 3px 3px;
    mix-blend-mode: multiply;
}

#dictionary{
    width: 35%;
    float: right;
    margin: 10px 0;
    height: 120px;
    overflow: scroll;
}

#dictionary p{
	color: #424242;
}

#hangul{
	position: relative;
	display: inline-block;
	width: 60%;
	height: 120px;
	margin-bottom: 4rem;
	color: #333;
	font: 400%/1 Consolas, Monaco, monospace;
	/*white-space: nowrap; /*需要换行！*/
	overflow: auto;
	transition-property: color;
	transition-duration: .3s;
}

#original_input{
	position: relative;
	display: inline-block;
	width: 60%;
	height: 100px;
	margin-bottom: 4rem;
	color: #333;
	font: 200%/1 Consolas, Monaco, monospace;
	/*white-space: nowrap; /*需要换行！*/
	overflow: auto;
	transition-property: color;
	transition-duration: .3s;
}

#octo-peek{
		position: absolute;
		width: 256px;
		height: 87px;
		top: 0;
		right: 0;
		overflow: hidden;
}

#octo-peek a{
		display: block;
    width: 86px;
    height: 88px;
    position: absolute;
    right: -28px;
    top: -32px;
    background-image: url(../img/octocat-peak.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    -webkit-transition: top ease-out .2s, right ease-out .2s;
    -moz-transition: top ease-out .2s, right ease-out .2s;
    -ms-transition: top ease-out .2s, right ease-out .2s;
    -o-transition: top ease-out .2s, right ease-out .2s;
    transition: top ease-out .2s, right ease-out .2s;
}

#octo-peek a:hover{
		top: -20px;
		right: -10px;
}

#octo-peek a span {
    position: absolute;
    top: 32px;
    left: -159px;
    width: 147px;
    line-height: 20px;
    font-size: 14px;
    padding: 5px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 7px;
    background-color: rgba(255,255,255,.7);
    opacity: 0;
    -webkit-transition: opacity ease-out .2s;
    -moz-transition: opacity ease-out .2s;
    -ms-transition: opacity ease-out .2s;
    -o-transition: opacity ease-out .2s;
    transition: opacity ease-out .2s;
}

#octo-peek a:hover span{
		opacity: 1;
}
