* {
	margin: 0;
	color: inherit;
	font: inherit;
	text-shadow: inherit;
}

@font-face{
	font-family: UnGungseo;
	src: url('../fonts/UnGungseo.woff'),
	url('../fonts/UnGungseo.ttf'),
	url('../fonts/UnGungseo.svg'),
	url('../fonts/UnGungseo.eot');
}

@font-face{
	font-family: Typo_DodamM;
	src: url('../fonts/Typo_DodamM.woff'),
	url('../fonts/Typo_DodamM.ttf');

}

body{
	background: #eee;
	color: white;
	-webkit-font-smoothing: antialiased; /* fix for WebKit inconsistency */
}

#editor{
    text-align: center;
    overflow: hidden;
}

textarea{
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'UnGungseo', 'Monaco', courier, monospace;
    font-size: 50px;
	font-weight: bold;
    color: black;
    padding: 20px;
    width: 60%;
    float: left;
}

#dictionary{
	color: #424242;
	width: 40%;
	float: right;
}

#hangul{
	position: relative;
	display: inline-block;
	width: 60%;
	height: 120px;
	margin-bottom: 4rem;
	color: #333;
	font: 400%/1 Consolas, Monaco, monospace;
	/*white-space: nowrap; /*需要换行！*/
	overflow: auto;
	transition-property: color;
	transition-duration: .3s;
}

#original_input{
	position: relative;
	display: inline-block;
	width: 60%;
	height: 100px;
	margin-bottom: 4rem;
	color: #333;
	font: 200%/1 Consolas, Monaco, monospace;
	/*white-space: nowrap; /*需要换行！*/
	overflow: auto;
	transition-property: color;
	transition-duration: .3s;
}

span.love{
	display: block;
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', 'sans-serif';
	color: #424242;
}

span.love a{
	text-decoration: none;
	color: #D12026;
}

	