body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  font-family: Courier !important;
}
